*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
    color:black;
}
body{
    background-color: rgb(236, 235, 235);
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20PX;
    margin: 20PX;
    font-family: "Roboto";
    color:rgb(49, 47, 47);
}
h1{
    margin: 20px;
    font-size:36px; 
    text-align: center; 
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
      
}
p{
    justify-content: center; 
    color:rgb(49, 47, 47); 
    text-align: center; 
    padding: 20px 0px; 
}
.picture{
    width: 96%;
    background-color: white;
    padding: 10px;
    margin: 0 auto;
    display: flex; 
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    
    
}
.hhh{
    width: 70%;
}
.hhh img{
    max-width: 100%;
    margin: 0 auto;
}
.innov{
    margin: 40px;
    justify-items: center;
}
.one{

    margin: 20PX auto;
    width: 50%;
  
}
.one li{
    padding: 10px;
font-weight: 100;
color:rgb(49, 47, 47);
font-size: 1.2rem;

}
.two{
    margin: 20PX auto;
    width: 50%;
    font-size: large;   
}
h3{
    
    text-align: center;
}
a{
    color: rgb(86, 51, 141);
}

